.brain-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
      transform: translate(-50%, -50%);
}

.brain-container canvas {
  display: block;
}

@media (max-width: 768px) {
  .brain-container {
    width: 200px;
    height: 200px;
  }
}