body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.app {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
  width: 100%;
}

.about,
.projects,
.contact {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: fit-content;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-left: 5px solid #007acc;
  border-radius: 8px;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #666;
  width: 100%;
}
